body{

	background-color: #878787;
	margin: 0px auto;
	padding: 0px;
}

h2{
	color: #AAAAAA;
	text-align: center;
	font-size: 50px;
	padding-bottom: 20px;
}

.header{
	background-color: #414141;
	padding: 12px;
	padding-bottom: 0px;
}


.navm {
	background-color: #4E4E4E;
	padding-top: 17px;
	padding-bottom: 8px;
	margin-left: -15px;
	margin-right: -15px;
}

.navm ul{
	list-style: none;
}
.navm ul li {
	display: inline;
}
.navm ul li a {
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	font-size: 16px;
	margin-right: -4px;
}

.navm ul li a:hover {
	color: #AAAAAA;
	background-color: #313131;
}

table{
	margin-left: auto;
	margin-right: auto;
}

th{
	color: white;
	font-size: 15px;
}


#p {
	color: white;
	font-size: 18px;
}

#first_form {
	margin-top: 45px;
	margin-left: 121px;
}

#success {
	margin-top: 60px;
	text-align: center;
	font-size: 30px;
	color: #055B05;
}

#submit1 {
	margin-left: 18px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    background-color: #323232;
    color: white;
    border: 0px;
    font-size: 18px;
}

#submit1:hover {
    background-color: #0D0D0D;
}

#second_form {
	margin-top: 37px;
	margin-left: 121px;
}

#ins {
	text-align: center;
	font-size: 25px;
	color: white;
	margin-bottom: 47px;
}

input[type="submit"]{
    margin-left: 311px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    margin-top: 28px;
    background-color: #323232;
    color: white;
    border: 0px;
    font-size: 18px;
}

input[type="submit"]:hover{
	background-color: #0D0D0D;
}

#ff {
	color: white;
	font-size: 16px;
	padding-right: 10px;
	text-align: left;
	border: 0px;
}

#ft {
	color: black;
	border: 0px;
	padding: 10px;
	width: 210px;
}